
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');


* {
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}


.navbar {
	background: url("/Assets/ghibli_logo_shortened.jpg");
	background-size: auto 60px;
	background-repeat: no-repeat;
	background-color: #009CF0;			/* 	009CF0 -> background color of the logo */
	background-position: left top;
	background-attachment: fixed;
	padding: 12px;
}

@media only screen and (max-width: 500px){
	.directors img{
		width: 100%;
		height: auto;
	}
}

body {
	background-color:#9ecfe9;
	overflow-x: hidden; /* Hide horizontal scrollbar */
	margin-bottom: 50px;	
}

.row>* {
    flex-shrink: 0;
	width: auto;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.navbar {
	width: 100% !important; 
}

.navbar-toggler:focus {
	box-shadow: 0 0 0 0;
}

h4{
	line-height: normal;
}
h5 {		/* for "About the studio", "Movies" and Director */
	padding-top: 15px;
	color:black; /* SECALHAR MUDAR PARA UMA COR DE DIF DE BRANCO OU PRETO */
	font-size: 30px;
	font-weight: bold;
	font-family:'Roboto Mono', monospace;
	overflow-y: hidden;

}

h6 {		/* for Movie Titles*/
	font-size: 25px;
	font-weight: bold;
	padding-top: 10px;
	overflow-y: hidden;
	color: black;
}

p {			/* for Plain Text */
	margin: 50px;
	font-size: 18px;
	padding-top: 10px;
	color: black;
}


.col-md-6 {
	width: 100vw;
}

video {
    margin: 0 auto;
}

#gif_item{
	height: 720px;
	width: auto;
}

@media only screen and (max-width: 600px){
	#gif_item{
		height: auto;
		width: 100%;
	}
}

#text_item{
	color: white;
	text-align: center;
	padding-top: 10px;
}


.directors {
	display: flex;
	justify-content: center;
}

.directors img{
	width: 33vw;
	height: auto;
}



.list-name img{
	width: 20vw;
}


#directors-cards {
	display: flex;
	justify-content: space-evenly;

}

.card-title{
	text-align: center;
}


.info {

	width: 50vw;
	text-align: left;
}



@media only screen and (max-device-width : 1201px) {
	.directors-container-class-vertical{
		display: none !important;
	}
}

@media only screen and (min-device-width : 1201px) {
    .directors-container-class-horizontal{
		display: none !important;
	}
}


.map {
	max-width: 50vw;
	height: auto;
	padding-left: 50px;
    display: flex;
	overflow: hidden;
}

.studio-map .map iframe {
    top: 0;
    left: 0;
    width:33.3vw ;
	height:23.3vw ;
	
    
  }

@media only screen and (min-device-width : 650px) {
	.map {
		align-self: center;
	}
}



.btn-primary:focus{
	box-shadow: 0 0 0 0;
}


/*	CARROUSSEL STUFF	*/

.carousel {
	margin: 20px;
	position: relative;
	height: auto;
	width: 400px;
  }
  
  .carousel__item {
	height: auto;
	display: none;
  }
  
  .carousel__item--selected {
	display: block;
  }
  
  .carousel__nav {
	width: 100%;
	padding: 20px 0;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
  }
  
  .carousel__button {
	width: 10px;
	height: 10px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
  }
  
  .carousel__button--selected {
	background: rgba(255, 255, 255, 0.5);
  }
  

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.img-square-wrapper{
	width: 100px;
}

.img-square-wrapper img{
	width: 100%;
	height: auto;
}
