.navbar {
	background: url("/Assets/ghibli_logo_shortened.jpg");
	background-size: auto 60px;
	background-repeat: no-repeat;
	background-color: #009CF0;
	background-position: left top;
	background-attachment: fixed;
	padding: 10px;	
	/* 	009CF0 -> background color of the logo */
}

body{
	background-color:#009CF0;
	overflow-x: hidden; /* Hide horizontal scrollbar */
}

.row>* {
    flex-shrink: 0;
	width: auto;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.navbar-toggler:focus{
	box-shadow: 0 0 0 0;
}

video {
    margin: 0 auto;
}

#gif_item{
	height: 720px;
	width: auto;
}

#item2_text{
	color: white;
	text-align: right;
	font-family:'Times New Roman', Times, serif;
}

#item4_text{
	color: white;
	text-align: right;
	font-family:Impact, sans-serif;
	
}

#item6_text{
	color: white;
	text-align: right;
	font-family: Helvetica, sans-serif;
}

#item8_text{
	color: white;
	text-align: right;
	font-family:'Lucida Sans Regular', sans-serif;
}

#item10_text{
	color: white;
	text-align: right;
	font-family: 'Courier New', monospace;
}

#item12_text{
	color: white;
	text-align: right;
	font-family: 'Courier New', monospace;
}

